.fixed-size {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.fixed-size2 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.icon-hover {
    transition: color 0.3s;
}

.icon-hover:hover {
    color: #e6cbe0;
}

.app-background {
    background-color: #f8f9fa;
}